# --- Virtual Environments ---
.venv/
venv/
env/

# --- Environment Variables (SECRETS!) ---
.env

# --- PyCharm Settings ---
.idea/

# --- Python Cache ---
__pycache__/
*.pyc

# --- Databases ---
# לא נהוג להעלות את הדאטה-בייס עצמו לפרויקטים, אלא לייצר קובץ ריק שמתמלא כשהאפליקציה רצה
*.db
backend/my_database.db

# --- Private Documentation ---
PROJECT_MASTER_DOCUMENT_*.md

# --- Specific Ignore Files/Folders ---
backend/scripts/
*.mp4
